test/
__pycache__/
.idea/
.vscode/
*/.github/
ppo_models/
runs/
prolog/
*/__pycache__/
*/.idea/
*/.vscode/
storage/
scripts/taxi_mutations/
scripts/storage/
scripts/config/
algo1.drawio
algo2.drawio
algo2.png
algorithm.drawio
algorithm.png
scripts/taxi_mutations/

yolov8n.pt
