# zh_cn.config (UTF-8)
[maps]
map1 = x, x, x, x, x, x, x, x
        x, x, x, x, x, x, x, x
        x, E, E, x, -, -, G, x
        x, -, -, x, -, -, -, x
        x, -, -, x, -, x, x, x
        x, -, -, -, -, -, -, x
        x, E, -, -, -, S, E, x
        x, x, x, x, x, x, x, x

map2 = x, x, x, x, x, x, x, x
        x, x, x, x, x, x, x, x
        x, E, E, x, -, -, G, x
        x, S, -, x, -, -, -, x
        x, -, -, x, D, x, x, x
        x, -, -, -, -, -, -, x
        x, E, -, -, -, -, E, x
        x, x, x, x, x, x, x, x

map3 = x, x, x, x, x, x, x, x
        x, x, x, x, x, x, x, x
        x, E, E, x, -, -, G, x
        x, -, -, x, -, -, -, x
        x, K, -, x, D, x, x, x
        x, -, -, -, -, -, -, x
        x, E, -, -, -, S, E, x
        x, x, x, x, x, x, x, x