# zh_cn.config (UTF-8)
[maps]
map1 = x, x, x, x, x, x, x, x
        x, x, x, x, x, x, x, x
        x, E, E, x, E, E, G, x
        x, E, E, x, -, -, -, x
        x, E, E, x, -, x, x, x
        x, -, -, -, -, E, E, x
        x, -, E, -, -, -, S, x
        x, x, x, x, x, x, x, x

map2 = x, x, x, x, x, x, x, x
        x, x, x, x, x, x, x, x
        x, E, E, x, E, E, G, x
        x, E, E, x, -, -, -, x
        x, E, E, x, D, x, x, x
        x, -, -, -, -, E, E, x
        x, S, E, -, -, -, -, x
        x, x, x, x, x, x, x, x

map3 = x, x, x, x, x, x, x, x
        x, x, x, x, x, x, x, x
        x, E, E, x, E, E, G, x
        x, E, E, x, -, -, -, x
        x, E, E, x, D, x, x, x
        x, -, -, -, -, E, E, x
        x, K, E, -, -, -, S, x
        x, x, x, x, x, x, x, x