# random_map.config (UTF-8)
[maps]
map1 =
    x, x, x, x, x, x, x, x, x, x, x
    x, x, x, x, x, x, x, x, x, x, x
    x, E, E, E, E, x, E, E, E, E, x
    x, E, E, E, E, x, -, G, -, -, x
    x, -, -, -, -, x, -, -, -, -, x
    x, -, -, -, -, x, x, -, x, x, x
    x, -, -, -, -, -, -, -, -, E, x
    x, -, -, -, -, -, -, -, S, E, x
    x, E, E, E, x, x, -, -, -, E, x
    x, E, E, E, x, x, -, -, -, E, x
    x, x, x, x, x, x, x, x, x, x, x

map2 =
    x, x, x, x, x, x, x, x, x, x, x
    x, x, x, x, x, x, x, x, x, x, x
    x, E, E, E, E, x, E, E, E, E, x
    x, E, E, E, E, x, -, -, -, -, x
    x, -, -, -, -, x, -, -, G, -, x
    x, -, -, -, -, x, -, x, x, x, x
    x, -, -, -, S, -, -, -, -, -, x
    x, -, -, -, -, -, -, -, -, -, x
    x, -, -, -, -, -, -, -, E, E, x
    x, E, E, E, -, -, E, E, E, E, x
    x, x, x, x, x, x, x, x, x, x, x

map3 =
    x, x, x, x, x, x, x, x, x, x, x
    x, x, x, x, x, x, x, x, x, x, x
    x, E, E, -, -, x, -, -, -, -, x
    x, E, E, -, -, x, -, -, -, -, x
    x, -, -, -, -, x, -, -, -, -, x
    x, -, -, -, -, x, S, -, -, -, x
    x, -, G, -, -, -, -, -, -, -, x
    x, x, x, x, x, x, -, -, -, -, x
    x, -, -, -, -, -, E, E, E, E, x
    x, E, E, E, -, -, E, E, E, E, x
    x, x, x, x, x, x, x, x, x, x, x

map4 =
    x, x, x, x, x, x, x, x, x, x, x
    x, x, x, x, x, x, x, x, x, x, x
    x, E, E, -, -, -, x, E, E, E, x
    x, E, E, -, -, -, x, E, E, E, x
    x, -, -, -, -, -, x, -, -, -, x
    x, -, -, -, -, -, x, -, -, -, x
    x, -, -, -, -, -, -, -, -, -, x
    x, x, x, -, -, S, x, -, -, -, x
    x, E, E, -, -, -, x, -, -, G, x
    x, E, E, -, -, -, x, -, -, -, x
    x, x, x, x, x, x, x, x, x, x, x

map5 =
    x, x, x, x, x, x, x, x, x, x, x
    x, x, x, x, x, x, x, x, x, x, x
    x, -, -, -, -, -, -, -, E, E, x
    x, -, -, -, -, -, -, -, E, E, x
    x, -, -, -, -, -, -, -, E, E, x
    x, -, -, -, -, -, -, -, -, -, x
    x, x, x, x, x, x, -, -, -, -, x
    x, E, E, -, -, -, S, -, -, -, x
    x, E, E, -, -, x, -, -, -, -, x
    x, E, E, G, -, x, -, -, -, -, x
    x, x, x, x, x, x, x, x, x, x, x

map6 =
    x, x, x, x, x, x, x, x, x, x, x
    x, x, x, x, x, x, x, x, x, x, x
    x, E, E, E, E, x, -, -, -, -, x
    x, E, E, E, E, x, -, -, -, -, x
    x, -, -, -, -, D, -, -, -, S, x
    x, -, -, -, -, x, x, x, x, x, x
    x, -, -, -, -, -, -, -, -, -, x
    x, -, -, -, G, -, -, -, -, -, x
    x, -, -, -, -, -, E, E, E, E, x
    x, E, E, E, -, -, E, E, E, E, x
    x, x, x, x, x, x, x, x, x, x, x

map7 =
    x, x, x, x, x, x, x, x, x, x, x
    x, x, x, x, x, x, x, x, x, x, x
    x, E, E, -, -, -, x, E, E, E, x
    x, E, E, -, -, -, x, E, E, E, x
    x, -, -, -, -, -, x, -, -, -, x
    x, -, -, G, -, -, x, -, -, -, x
    x, -, -, -, -, -, x, -, -, -, x
    x, x, x, x, x, D, x, -, -, -, x
    x, E, -, -, -, -, -, -, -, -, x
    x, E, -, -, -, -, -, S, -, -, x
    x, x, x, x, x, x, x, x, x, x, x

map8 =
    x, x, x, x, x, x, x, x, x, x, x
    x, x, x, x, x, x, x, x, x, x, x
    x, -, -, -, -, -, -, -, E, E, x
    x, -, -, -, -, -, -, -, -, E, x
    x, -, -, -, -, -, -, S, -, -, x
    x, -, -, -, -, -, -, -, -, -, x
    x, x, x, x, D, x, x, x, x, x, x
    x, E, E, -, -, -, -, -, -, -, x
    x, E, E, -, -, G, -, -, -, -, x
    x, E, E, -, -, -, -, -, -, -, x
    x, x, x, x, x, x, x, x, x, x, x

map9 =
    x, x, x, x, x, x, x, x, x, x, x
    x, x, x, x, x, x, x, x, x, x, x
    x, E, E, -, -, x, -, -, -, S, x
    x, E, -, -, -, x, -, -, -, -, x
    x, E, -, G, -, x, -, -, -, -, x
    x, -, -, -, -, D, -, -, -, -, x
    x, -, -, -, -, x, -, -, -, -, x
    x, -, -, -, -, x, -, -, -, -, x
    x, -, -, -, -, x, -, E, E, E, x
    x, -, -, -, -, x, -, E, E, E, x
    x, x, x, x, x, x, x, x, x, x, x

map10 =
    x, x, x, x, x, x, x, x, x, x, x
    x, x, x, x, x, x, x, x, x, x, x
    x, E, E, E, -, -, E, E, E, E, x
    x, -, -, -, -, -, -, -, -, -, x
    x, -, -, -, -, -, -, -, -, S, x
    x, -, -, -, -, x, D, x, x, x, x
    x, E, -, -, -, x, -, -, -, -, x
    x, E, -, -, -, x, -, -, -, -, x
    x, E, -, -, -, x, -, -, G, -, x
    x, E, -, -, -, x, -, -, -, -, x
    x, x, x, x, x, x, x, x, x, x, x

map11 =
    x, x, x, x, x, x, x, x, x, x, x
    x, x, x, x, x, x, x, x, x, x, x
    x, E, E, E, E, x, -, -, -, E, x
    x, E, E, E, E, x, -, K, -, -, x
    x, -, -, -, -, x, -, -, -, S, x
    x, -, -, -, -, x, D, x, x, x, x
    x, -, -, -, -, -, -, -, -, -, x
    x, -, -, -, -, -, -, -, -, G, x
    x, -, -, -, -, -, -, -, -, -, x
    x, E, E, E, -, -, -, -, -, -, x
    x, x, x, x, x, x, x, x, x, x, x


map12 =
    x, x, x, x, x, x, x, x, x, x, x
    x, x, x, x, x, x, x, x, x, x, x
    x, -, -, -, -, -, -, -, E, E, x
    x, -, -, -, -, -, -, K, E, E, x
    x, -, -, -, S, -, -, -, E, E, x
    x, -, -, -, -, -, -, -, E, E, x
    x, x, x, x, x, x, x, D, x, x, x
    x, E, E, -, -, -, -, -, -, -, x
    x, E, E, -, -, -, -, -, -, G, x
    x, E, E, -, -, -, -, -, -, -, x
    x, x, x, x, x, x, x, x, x, x, x

map13 =
    x, x, x, x, x, x, x, x, x, x, x
    x, x, x, x, x, x, x, x, x, x, x
    x, E, E, E, -, x, -, -, -, -, x
    x, E, -, -, -, x, -, -, G, -, x
    x, E, -, -, -, x, -, -, -, -, x
    x, -, -, -, -, x, D, x, x, x, x
    x, S, -, -, -, -, -, -, -, -, x
    x, -, -, -, -, -, -, -, -, E, x
    x, -, -, -, -, K, -, -, E, E, x
    x, -, -, -, -, -, -, E, E, E, x
    x, x, x, x, x, x, x, x, x, x, x


map14 =
    x, x, x, x, x, x, x, x, x, x, x
    x, x, x, x, x, x, x, x, x, x, x
    x, -, E, E, E, x, E, -, -, -, x
    x, -, E, E, E, x, E, G, -, -, x
    x, -, -, -, -, x, E, -, -, -, x
    x, -, -, -, -, x, x, x, x, D, x
    x, E, -, -, -, -, -, -, -, -, x
    x, E, -, S, -, -, -, -, -, -, x
    x, E, -, -, -, -, -, -, K, -, x
    x, E, -, -, -, -, -, -, -, -, x
    x, x, x, x, x, x, x, x, x, x, x

map15 =
    x, x, x, x, x, x, x, x, x, x, x
    x, x, x, x, x, x, x, x, x, x, x
    x, S, -, -, -, E, -, -, -, -, x
    x, -, -, -, K, E, -, -, -, -, x
    x, -, -, -, -, x, -, -, -, -, x
    x, -, -, -, -, x, -, -, -, -, x
    x, x, x, D, x, x, -, -, -, -, x
    x, E, -, -, -, -, -, -, -, -, x
    x, E, -, -, -, -, G, -, -, -, x
    x, E, -, -, -, -, -, -, -, -, x
    x, x, x, x, x, x, x, x, x, x, x

