# random_map.config (UTF-8)
[maps]
map1 =
    x, x, x, x, x, x, x, x
    x, x, x, x, x, x, x, x
    x, E, -, -, -, G, -, x
    x, E, -, -, -, -, -, x
    x, x, x, x, D, x, x, x
    x, -, -, -, -, -, -, x
    x, -, S, -, -, K, -, x
    x, x, x, x, x, x, x, x

map2 =
    x, x, x, x, x, x, x, x
    x, x, x, x, x, x, x, x
    x, -, -, -, -, E, -, x
    x, -, -, G, -, E, -, x
    x, x, x, x, D, x, x, x
    x, -, -, -, -, -, S, x
    x, -, E, -, -, K, -, x
    x, x, x, x, x, x, x, x

map3 =
    x, x, x, x, x, x, x, x
    x, x, x, x, x, x, x, x
    x, -, -, -, G, E, E, x
    x, -, -, x, -, E, E, x
    x, E, D, x, x, x, x, x
    x, -, -, -, -, -, S, x
    x, -, -, -, -, K, -, x
    x, x, x, x, x, x, x, x

map4 =
    x, x, x, x, x, x, x, x
    x, x, x, x, x, x, x, x
    x, -, -, E, -, -, G, x
    x, -, -, E, -, -, -, x
    x, -, -, x, x, x, D, x
    x, -, -, -, -, -, -, x
    x, -, S, -, -, K, -, x
    x, x, x, x, x, x, x, x

map5 =
    x, x, x, x, x, x, x, x
    x, x, x, x, x, x, x, x
    x, G, -, x, -, -, E, x
    x, -, -, D, -, -, -, x
    x, x, x, x, -, -, -, x
    x, -, -, -, -, -, -, x
    x, -, S, -, -, K, -, x
    x, x, x, x, x, x, x, x

map6 =
    x, x, x, x, x, x, x, x
    x, x, x, x, x, x, x, x
    x, -, -, -, -, -, E, x
    x, -, -, -, -, -, -, x
    x, x, D, x, -, -, -, x
    x, -, -, x, -, -, S, x
    x, -, G, x, -, K, -, x
    x, x, x, x, x, x, x, x

map7 =
    x, x, x, x, x, x, x, x
    x, x, x, x, x, x, x, x
    x, -, S, -, -, -, E, x
    x, -, -, -, -, -, -, x
    x, x, D, x, -, -, K, x
    x, -, -, x, -, -, -, x
    x, -, G, x, -, -, -, x
    x, x, x, x, x, x, x, x

map8 =
    x, x, x, x, x, x, x, x
    x, x, x, x, x, x, x, x
    x, -, S, -, -, -, E, x
    x, -, -, -, -, -, -, x
    x, -, -, x, x, x, x, x
    x, K, -, D, -, -, G, x
    x, -, -, x, -, -, -, x
    x, x, x, x, x, x, x, x

map9 =
    x, x, x, x, x, x, x, x
    x, x, x, x, x, x, x, x
    x, -, S, -, -, E, E, x
    x, -, -, -, -, -, -, x
    x, -, -, x, D, x, x, x
    x, K, -, x, -, -, G, x
    x, -, -, x, -, -, -, x
    x, x, x, x, x, x, x, x

map10 =
    x, x, x, x, x, x, x, x
    x, x, x, x, x, x, x, x
    x, -, S, -, -, -, E, x
    x, K, -, -, -, -, -, x
    x, -, -, x, D, x, x, x
    x, -, -, x, -, -, G, x
    x, -, -, x, -, -, -, x
    x, x, x, x, x, x, x, x

map11 =
    x, x, x, x, x, x, x, x
    x, x, x, x, x, x, x, x
    x, x, -, x, -, G, -, x
    x, x, -, -, -, -, -, x
    x, x, x, x, D, x, x, x
    x, -, -, -, -, -, E, x
    x, -, S, -, -, K, E, x
    x, x, x, x, x, x, x, x

map12=
    x, x, x, x, x, x, x, x
    x, x, x, x, x, x, x, x
    x, -, -, -, -, E, -, x
    x, -, -, G, -, E, -, x
    x, x, x, x, D, x, x, x
    x, -, -, E, -, -, S, x
    x, -, E, -, -, K, -, x
    x, x, x, x, x, x, x, x

map13 =
    x, x, x, x, x, x, x, x
    x, x, x, x, x, x, x, x
    x, -, -, -, G, -, E, x
    x, -, -, -, -, -, E, x
    x, x, D, x, x, x, x, x
    x, -, -, -, -, -, S, x
    x, E, -, -, -, K, -, x
    x, x, x, x, x, x, x, x

map14 =
    x, x, x, x, x, x, x, x
    x, x, x, x, x, x, x, x
    x, -, -, E, -, -, G, x
    x, -, -, E, -, -, -, x
    x, -, -, x, x, x, D, x
    x, -, -, -, -, -, -, x
    x, -, S, -, -, K, -, x
    x, x, x, x, x, x, x, x

map15 =
    x, x, x, x, x, x, x, x
    x, x, x, x, x, x, x, x
    x, G, -, x, -, E, E, x
    x, -, -, D, -, -, -, x
    x, x, x, x, -, -, -, x
    x, -, -, -, -, -, -, x
    x, -, S, -, -, K, -, x
    x, x, x, x, x, x, x, x

map16 =
    x, x, x, x, x, x, x, x
    x, x, x, x, x, x, x, x
    x, E, -, -, -, -, E, x
    x, -, -, -, -, -, -, x
    x, x, D, x, -, -, -, x
    x, -, -, x, -, -, S, x
    x, -, G, x, -, K, -, x
    x, x, x, x, x, x, x, x

map17 =
    x, x, x, x, x, x, x, x
    x, x, x, x, x, x, x, x
    x, -, S, -, -, E, E, x
    x, -, -, -, -, -, -, x
    x, x, D, x, -, -, K, x
    x, -, -, x, -, -, -, x
    x, -, G, x, -, -, -, x
    x, x, x, x, x, x, x, x

map18 =
    x, x, x, x, x, x, x, x
    x, x, x, x, x, x, x, x
    x, -, S, -, -, E, E, x
    x, -, -, -, -, -, -, x
    x, -, -, x, x, x, x, x
    x, K, -, D, -, -, G, x
    x, -, -, x, -, -, -, x
    x, x, x, x, x, x, x, x

map19 =
    x, x, x, x, x, x, x, x
    x, x, x, x, x, x, x, x
    x, -, S, -, -, -, E, x
    x, -, -, -, -, -, E, x
    x, -, -, x, D, x, x, x
    x, K, -, x, -, -, G, x
    x, -, -, x, -, -, -, x
    x, x, x, x, x, x, x, x

map20 =
    x, x, x, x, x, x, x, x
    x, x, x, x, x, x, x, x
    x, -, S, -, -, E, E, x
    x, K, -, -, -, -, -, x
    x, -, -, x, D, x, x, x
    x, -, -, x, -, -, G, x
    x, -, -, x, -, -, E, x
    x, x, x, x, x, x, x, x


map21 =
    x, x, x, x, x, x, x, x
    x, x, x, x, x, x, x, x
    x, -, -, -, -, E, E, x
    x, K, -, -, -, -, -, x
    x, -, -, -, -, -, -, x
    x, -, -, x, x, D, x, x
    x, -, S, x, -, -, G, x
    x, x, x, x, x, x, x, x

map22 =
    x, x, x, x, x, x, x, x
    x, x, x, x, x, x, x, x
    x, -, -, D, -, -, E, x
    x, K, -, x, -, -, -, x
    x, -, -, x, -, -, -, x
    x, -, -, x, -, -, -, x
    x, -, S, x, -, -, G, x
    x, x, x, x, x, x, x, x


map23 =
    x, x, x, x, x, x, x, x
    x, x, x, x, x, x, x, x
    x, -, E, x, E, -, -, x
    x, E, -, x, -, -, G, x
    x, -, S, x, D, x, x, x
    x, -, -, -, -, -, -, x
    x, -, -, -, K, -, E, x
    x, x, x, x, x, x, x, x

map24 =
    x, x, x, x, x, x, x, x
    x, x, x, x, x, x, x, x
    x, -, E, -, x, -, -, x
    x, E, -, G, x, K, -, x
    x, x, D, x, x, -, -, x
    x, -, -, -, -, -, -, x
    x, E, -, -, -, S, -, x
    x, x, x, x, x, x, x, x

map25 =
    x, x, x, x, x, x, x, x
    x, x, x, x, x, x, x, x
    x, -, -, -, x, E, -, x
    x, G, -, -, x, -, K, x
    x, E, -, -, D, -, -, x
    x, x, x, x, x, -, -, x
    x, E, E, E, -, S, -, x
    x, x, x, x, x, x, x, x

map26 =
    x, x, x, x, x, x, x, x
    x, x, x, x, x, x, x, x
    x, G, -, x, S, K, -, x
    x, -, -, x, -, -, -, x
    x, x, -, D, -, x, -, x
    x, E, -, x, x, x, x, x
    x, -, -, -, -, E, E, x
    x, x, x, x, x, x, x, x

map27 =
    x, x, x, x, x, x, x, x
    x, x, x, x, x, x, x, x
    x, G, -, x, -, x, K, x
    x, -, -, D, -, -, -, x
    x, E, -, x, -, S, -, x
    x, E, -, x, x, x, x, x
    x, -, -, -, -, E, E, x
    x, x, x, x, x, x, x, x

map28 =
    x, x, x, x, x, x, x, x
    x, x, x, x, x, x, x, x
    x, -, -, E, E, x, K, x
    x, -, -, x, -, -, -, x
    x, -, -, D, -, S, -, x
    x, E, -, x, x, x, x, x
    x, -, -, -, G, E, E, x
    x, x, x, x, x, x, x, x

map29 =
    x, x, x, x, x, x, x, x
    x, x, x, x, x, x, x, x
    x, -, -, E, -, x, -, x
    x, -, -, x, S, -, -, x
    x, -, -, D, -, -, K, x
    x, G, -, x, x, x, x, x
    x, -, -, -, -, E, E, x
    x, x, x, x, x, x, x, x

map30 =
    x, x, x, x, x, x, x, x
    x, x, x, x, x, x, x, x
    x, E, E, E, K, -, -, x
    x, -, -, x, -, -, -, x
    x, -, -, D, -, S, -, x
    x, -, -, x, x, x, x, x
    x, -, -, -, -, G, E, x
    x, x, x, x, x, x, x, x

map31 =
    x, x, x, x, x, x, x, x
    x, x, x, x, x, x, x, x
    x, -, -, E, S, -, -, x
    x, -, -, E, x, -, -, x
    x, -, -, D, -, -, K, x
    x, -, x, x, x, x, x, x
    x, -, -, -, G, E, E, x
    x, x, x, x, x, x, x, x

map32 =
    x, x, x, x, x, x, x, x
    x, x, x, x, x, x, x, x
    x, -, -, E, x, -, G, x
    x, -, S, -, x, -, -, x
    x, K, -, -, D, -, -, x
    x, x, x, x, x, -, -, x
    x, E, -, -, -, -, -, x
    x, x, x, x, x, x, x, x

map33 =
    x, x, x, x, x, x, x, x
    x, x, x, x, x, x, x, x
    x, -, -, K, x, E, E, x
    x, -, -, E, x, -, -, x
    x, -, S, -, x, -, G, x
    x, x, D, x, x, -, -, x
    x, -, -, -, -, -, -, x
    x, x, x, x, x, x, x, x

map34 =
    x, x, x, x, x, x, x, x
    x, x, x, x, x, x, x, x
    x, K, -, S, x, -, -, x
    x, -, -, -, x, -, -, x
    x, -, -, -, D, -, -, x
    x, x, E, x, x, -, G, x
    x, E, E, E, -, -, -, x
    x, x, x, x, x, x, x, x

map35 =
    x, x, x, x, x, x, x, x
    x, x, x, x, x, x, x, x
    x, K, -, -, x, E, E, x
    x, -, E, -, x, -, -, x
    x, -, -, S, x, -, -, x
    x, x, D, x, x, -, -, x
    x, -, -, -, -, -, G, x
    x, x, x, x, x, x, x, x

map36 =
    x, x, x, x, x, x, x, x
    x, x, x, x, x, x, x, x
    x, -, K, -, x, E, E, x
    x, E, -, S, x, -, -, x
    x, -, -, -, x, -, -, x
    x, x, D, x, x, -, -, x
    x, G, -, -, -, -, -, x
    x, x, x, x, x, x, x, x

map37 =
    x, x, x, x, x, x, x, x
    x, x, x, x, x, x, x, x
    x, E, -, S, x, -, E, x
    x, -, -, K, x, -, -, x
    x, -, -, -, x, G, -, x
    x, x, x, D, x, -, -, x
    x, -, -, -, -, -, -, x
    x, x, x, x, x, x, x, x

map38 =
    x, x, x, x, x, x, x, x
    x, x, x, x, x, x, x, x
    x, E, -, -, E, -, G, x
    x, -, -, S, x, -, -, x
    x, -, K, -, x, -, -, x
    x, D, x, x, x, -, -, x
    x, -, -, -, -, -, -, x
    x, x, x, x, x, x, x, x

map39 =
    x, x, x, x, x, x, x, x
    x, x, x, x, x, x, x, x
    x, -, -, K, x, E, E, x
    x, E, -, S, x, -, -, x
    x, E, -, -, D, -, -, x
    x, x, x, x, x, -, -, x
    x, G, -, -, -, -, -, x
    x, x, x, x, x, x, x, x

map40 =
    x, x, x, x, x, x, x, x
    x, x, x, x, x, x, x, x
    x, S, -, -, x, E, E, x
    x, -, -, -, x, -, G, x
    x, -, K, -, D, -, -, x
    x, x, x, x, x, -, -, x
    x, E, -, -, -, -, -, x
    x, x, x, x, x, x, x, x

map41 =
    x, x, x, x, x, x, x, x
    x, x, x, x, x, x, x, x
    x, -, G, -, -, -, E, x
    x, -, -, -, -, -, E, x
    x, x, x, x, D, x, x, x
    x, E, -, -, -, -, -, x
    x, E, -, S, -, -, K, x
    x, x, x, x, x, x, x, x


map42 =
    x, x, x, x, x, x, x, x
    x, x, x, x, x, x, x, x
    x, -, S, x, -, -, G, x
    x, -, -, x, -, -, -, x
    x, x, -, x, x, D, E, x
    x, -, -, -, -, -, -, x
    x, K, -, -, -, -, -, x
    x, x, x, x, x, x, x, x

map43 =
    x, x, x, x, x, x, x, x
    x, x, x, x, x, x, x, x
    x, G, -, E, -, -, -, x
    x, -, -, x, -, S, -, x
    x, x, D, x, x, -, x, x
    x, -, -, -, -, -, K, x
    x, -, -, -, -, -, -, x
    x, x, x, x, x, x, x, x

map44 =
    x, x, x, x, x, x, x, x
    x, x, x, x, x, x, x, x
    x, -, -, E, -, -, -, x
    x, G, -, -, -, -, -, x
    x, x, x, x, x, D, x, x
    x, -, -, x, -, -, K, x
    x, S, -, -, -, -, -, x
    x, x, x, x, x, x, x, x

map45 =
    x, x, x, x, x, x, x, x
    x, x, x, x, x, x, x, x
    x, -, G, x, -, -, S, x
    x, -, -, E, -, -, -, x
    x, x, -, x, x, -, -, x
    x, -, -, x, -, -, K, x
    x, -, -, D, -, -, -, x
    x, x, x, x, x, x, x, x

map46 =
    x, x, x, x, x, x, x, x
    x, x, x, x, x, x, x, x
    x, -, -, x, -, S, -, x
    x, -, -, D, -, -, -, x
    x, x, -, x, x, -, -, x
    x, -, -, E, K, -, -, x
    x, -, G, x, -, -, -, x
    x, x, x, x, x, x, x, x

map47 =
    x, x, x, x, x, x, x, x
    x, x, x, x, x, x, x, x
    x, -, -, -, -, -, -, x
    x, -, S, x, -, -, K, x
    x, x, x, x, x, D, x, x
    x, G, -, x, -, -, E, x
    x, -, -, -, -, -, E, x
    x, x, x, x, x, x, x, x

map48 =
    x, x, x, x, x, x, x, x
    x, x, x, x, x, x, x, x
    x, -, -, D, -, -, -, x
    x, -, S, x, -, -, G, x
    x, x, -, x, x, E, x, x
    x, -, -, x, -, -, -, x
    x, -, K, -, -, -, -, x
    x, x, x, x, x, x, x, x

map49 =
    x, x, x, x, x, x, x, x
    x, x, x, x, x, x, x, x
    x, K, -, D, -, -, -, x
    x, -, -, x, -, -, -, x
    x, -, -, x, E, -, -, x
    x, -, S, x, -, -, -, x
    x, -, -, E, -, -, G, x
    x, x, x, x, x, x, x, x

map50 =
    x, x, x, x, x, x, x, x
    x, x, x, x, x, x, x, x
    x, -, -, -, K, -, -, x
    x, -, -, -, -, -, S, x
    x, x, D, x, x, -, -, x
    x, -, -, -, x, -, E, x
    x, -, -, G, x, -, E, x
    x, x, x, x, x, x, x, x